body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #fdf1f1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
